body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*height: 100vh;*/
}

.user-registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 30px;
}

.user-registration h2{
    margin: -8px 10px 10px;
    padding-top: 10px;
}

.user-registration form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/

}

.user-registration form div{
    margin: 7px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-registration label {
    font-weight: bold;
    width: 200px;
}

.user-registration input {
    width: 100%;
    padding: 8px;
    border: 1px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
}

.user-registration input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 8px rgba(53, 152, 219, 0.5);
}

.user-registration button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.chat-container{
    display: flex;
    width: 900px;
    height: 550px;
    /*max-width: 800px;*/
    /*min-width: 800px;*/
    /*min-height: 550px;*/
    /*max-height: 550px;*/
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: 1px solid #ccc;
}

.users-list{
    background-color: #3498db;
    color: #fff;
    padding: 5px 0 5px 10px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

.online-users{
    overflow-y: scroll;
    width: 300px;
    height: 100%;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #2980b9 #ecf0f1; /* For Firefox */
    scroll-behavior: smooth;
}
/* For Chrome, Edge, Safari */
.online-users::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

.online-users::-webkit-scrollbar-track {
    background: #ecf0f1;
    border-radius: 10px;
}

.online-users h3{
    margin-bottom: 5px;
    padding-left: 10px;
}

.online-users ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-bottom: 8px;
    margin-right: 8px;
    cursor: pointer;
    padding: 5px 0 ;
}

.user-item .user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-item .user-info .name-and-receive-msg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}

.user-item .user-info .message-and-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.user-item.active{
    background-color: #cdebff;
    color: #4f4f4f;
    border-radius: 5px;
    /*padding: 10px;*/
}

.user-item .image-div {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    position: relative;
}

.user-item img{
    width: 100%;
    height: 100%;
    border-radius: 40%;
}

.user-item .user-info{
    margin-left: 10px;
}

.user-item p{
    margin: 1px 20px 0 0;
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-item span{
    font-weight: bold;
}

.separetor{
    margin: 9px 10px;
    border-bottom: 1px solid #ccc;
}

.received-msgs ,
.mark-as-online{
    border-radius: 50%;
    background-color: #32cd47;
}

.received-msgs{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 2px 2px 0;
}

.mark-as-online{
    width: 13px;
    height: 13px;
    position: absolute;
    top: -5px;
    left: 0;

}


    /*.user-item span.nbr-msg {*/
/*    margin-left: 10px;*/
/*    background-color: #f8fa6f;*/
/*    color: white;*/
/*    padding: 5px;*/
/*    width: 10px;*/
/*    border-radius: 50%;*/
/*    height: 10px;*/
/*}*/

/*.user{*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/
.chat-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.chat-messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.message{
    margin-bottom: 5px;
    border-radius: 5px;
}

.message p{
    margin: 0;
    padding: 5px;
    word-wrap: break-word;
}

.sender{
    background-color: #3498db;
    color: #fff;
    align-self: flex-end;
}

.receiver{
    background-color: #ecf0f1;
    color: #333;
    align-self: flex-start;
}

.message-form{
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-bottom: 20px;
}

.message-form input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    border-color: #3498db ;
    width: 450px;
}

.message-form input:focus{
    outline: none;
    border-color: #0a73b1;
    box-shadow: 0 0 8px rgba(53, 152, 219, 0.5);
    border-style: solid;
}

.message-form button{
    padding: 8px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
}

.hidden{
    display: none;
}

.user h3{
    word-wrap: break-word;
    margin-bottom: 13px;
}
a.logout{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 8px 11px 10px 0;
    font-size: 18px;
    display: inline-block;
}